<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>JSPProject</display-name>
	<welcome-file-list>
		<welcome-file>jsp/index.jsp</welcome-file>
	</welcome-file-list>
    <error-page>
      <error-code>404</error-code>
      <location>/jsp/error.jsp</location>
    </error-page>
    <error-page>
      <exception-type>java.lang.RuntimeException</exception-type>
      <location>/jsp/error.jsp</location>
    </error-page>
    <session-config>
      <session-timeout>10</session-timeout>
    </session-config>
    <context-param>
      <param-name>DBproperty</param-name>
      <param-value>/WEB-INF/db2.properties</param-value>
    </context-param>
    <resource-ref>
      <description>Datasource connection to db</description>
      <res-ref-name>jdbc/JSP</res-ref-name>
      <res-type>javax.sql.DataSource</res-type>
      <res-auth>Container</res-auth>
      <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>