.links{
	text-decoration: underline;
	color: blue;
	cursor: pointer;
}

.show{
	display: block;
}

.showTable{
	display: table;
}

.hide{
	display: none;
}

.error{
	color: red;
	text-align: center;
}


