body{
	width: 100%;
	margin: 0;
}

header{
	width: 100%;
	text-align: center;
}

#content{
	width: 100%;
}

#content nav{
	width: 29%;
	float: left;
	border-right: 1px solid black;
}

#content #workplace{
	width: 69%;
	float: left;
}

footer{
	width: 100%;
}

#logOut{
	float: right;
}

#afterHeader, #afterContent{
	clear: both;
}



